{{!-- 
The project details page template; this is used for each individual project.

Utilizes the built-in #with helper to more conveniently access the "project" object's properties 
as if "project" itself is the data context object. 
This is purely optional; the properties could be accessed with "project.__" instead.
https://handlebarsjs.com/guide/builtin-helpers.html#with

Notably, there is a generated link to the corresponding project modify page.
 --}}
{{#with project}}
<head>
    <!-- Page specific CSS -->
    <link rel="stylesheet" href="/styles/project_formatting.css">
</head>

<div class="container">

    <div class="card">
    <!-- image is optional -->
    <div class="card-content">

        <table class="centered responsive-table">
            <tbody>
                <div id="heading">
                    <div class="container">
                        <img src="/images/{{project_image}}.png" class=center>

                        <h1>{{project_name}}</h1>
                
                        <blockquote>
                        <b>Project Description:</b> {{project_description}}
                        </blockquote>
                        <div class="row"> 

                        </div>
                    </div>
                </div>

                <div id="table">
                    <table class="table table-striped">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Owner</th>
                            <th scope="col">Type</th>
                            <th scope="col">Date Proposed</th>
                            <th scope="col">Date Last Updated</th>
                            <th scope="col">Tech Stack</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{project_owner}}</td>
                            <td>{{project_type}}</td>
                            <td>{{project_proposed_date}}</td>
                            <td>{{project_updated_date}}</td>
                            <td>{{project_tech_stack}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tbody>
        </table>

        <!-- TODO: Add a scrollable table (or series of cards??) listing the attendees who are interested -->
        <!-- https://vembarrajan.medium.com/html-css-tricks-scroll-able-table-body-tbody-d23182ae0fbc -->
    </div>
</div>
    

</div>

<script src="/js/project_utils.js"></script>

{{/with}}
